.clients__title {
  margin-bottom: 30px;

  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-black);
  font-size: 28px;
  line-height: calc(33 / 28);
  @include desktop {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.clients__item {
  display: flex;
  justify-content: center;
  width: calc((100% - 30px) / 2);
  @include tablet{
    width: calc((100% - 60px) / 3);
  }
  @include desktop{
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  transition: fill var(--animation), border-color var(--animation);
  &:hover,
  &:focus {
    fill: var(--brand-blue);
    border-color: var(--brand-blue);
  }
  width: 100%;
  @include mobile{
    max-width: 210px;
  }
  @include tablet{
    max-width: 226px;
  }
  @include desktop{
    max-width: 170px;
  }
}
