.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  margin-right: 92px;
  &--blue {
    color: var(--brand-blue);
  }
  &--black {
    color: var(--logo-black);
  }
  &--white {
  color: var(--brand-white);
}
}