.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  &--blue {
    color: var(--brand-blue);
  }
  &--black {
    color: var(--logo-black);
  }
  &--white {
    color: var(--brand-white);
  }
  font-size: 24px;
  line-height: calc(28 / 24);
  @include tablet{
    margin-right: 88px;
  }
  @include desktop {
    font-size: 26px;
    line-height: calc(31 / 26);
    margin-right: 92px;
  }
}
